blinker==1.4
Click==7.0
Flask==1.0.2
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
Flask-SocketIO==4.0.0
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mysqlclient==1.4.2.post1
Pillow==8.3.2
PyAutoGUI==0.9.42
PyGetWindow==0.0.4
PyMsgBox==1.0.6
PyRect==0.1.4
PyScreeze==0.1.20
python-engineio==3.5.2
python-socketio==4.0.2
PyTweening==1.0.3
pywin32-ctypes==0.2.0
PyYAML==5.1
six==1.12.0
Werkzeug==0.15.2
whitenoise==4.1.2
xlib==0.21
